:root {
    --primary-color: #3a3a3a !important;
}

.navbar-bg {
    background-color: var(--primary-color);
}

.main-sidebar .sidebar-menu li.active a {
    color: var(--primary-color);
    font-weight: 700;
}

body.sidebar-mini .main-sidebar .sidebar-menu>li.active>a {
    box-shadow: 0 4px 8px #888888;
    background-color: var(--primary-color);
    color: #fff;
}

.card.card-primary {
    border-top: 2px solid var(--primary-color);
}

.btn-primary {
    box-shadow: 0 2px 6px #565656;
    background-color: var(--primary-color);
    border-color: #3a3a3a;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus:active:visited {
    background-color: #4d4b4b !important;
}
